<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.yanglong.promotion.mapper.UserBaseMapper">
    <select id="selectByToken" resultType="UserBase">
        SELECT
        *
        FROM user_base
        WHERE appToken=#{token}
    </select>

    <select id="selectWithToken" resultType="UserBase">
        SELECT
        *
        FROM user_base
        WHERE appToken IS NOT NULL
    </select>

    <update id="deleteToken">
        UPDATE user_base SET appToken=NULL where appToken=#{token}
    </update>

    <update id="updateAppToken">
        UPDATE user_base SET appToken=NULL WHERE appToken=#{token}
    </update>

    <select id="selectPerms" resultType="string">
        SELECT ps.identify perms
        FROM user_perms p,perms ps
        WHERE ps.id=p.permId
        AND p.userId=#{userId}
    </select>

    <select id="selectRoles" resultType="string">
        select rs.identify roles
        FROM user_roles r,roles rs
        WHERE r.roleId=rs.id
        AND r.userId=#{userId}
    </select>
</mapper>